<!-- <div id="page"> -->
<div class="clearfix" id="poop">
  <div id="board" class="clearfix">
    <div class="p2-start even board-row clearfix" id="0"></div>
    <div class="p2-start odd board-row clearfix" id="1"></div>
    <div class="p2-start even board-row clearfix" id="2"></div>
    <div class="neutral odd board-row clearfix" id="3"></div>
    <div class="neutral even board-row clearfix" id="4"></div>
    <div class="p1-start odd board-row clearfix" id="5"></div>
    <div class="p1-start even board-row clearfix" id="6"></div>
    <div class="p1-start odd board-row clearfix" id="7"></div>
  </div>

</div>


<!-- </div> -->
