<div class="info-panel">
  <h1>Checkers</h1>
  <div class="p1-panel">
    <h2>Player 1 Burgers:</h2>
    <div class="score p1-score">

    </div>
  </div>
  <div class="p2-panel turn-marker">
  <h2>Player 2 Burgers:</h2>
    <div class="score p2-score">

    </div>
  </div>
  <div class="turn">
    <h2>Turn Count</h2>
      <div class="turn-count">
      </div>
  </div>
  <h2>Timer</h2>
    <div class="timer">

    </div>
</div>
