<div class="light-skin modal fade" id="loseModal" tabindex="-1" role="form" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="endgame">
          <h3 >YOU LOSE!!! :(</h3>
          <br>
          <img src="https://media.giphy.com/media/NeKbC8LjITrd6/giphy.gif" alt="omgz" class="gif" />
          <br>
          <a href='/'>
            <button type="submit" name="new-game" class="btn btn-primary">
              Play Again?
            </button>
          </a>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
