<div id="board">
  <div class="red-first row"></div>
  <div class="black-first row"></div>
  <div class="red-first row"></div>
  <div class="black-first row"></div>
  <div class="red-first row"></div>
  <div class="black-first row"></div>
  <div class="red-first row"></div>
  <div class="black-first row"></div>
</div>
