<div id="board">
  <div class="black-piece red-first row"></div>
  <div class="black-piece black-first row"></div>
  <div class="black-piece red-first row"></div>
  <div class="black-first row"></div>
  <div class="red-first row"></div>
  <div class="red-piece black-first row"></div>
  <div class="red-piece red-first row"></div>
  <div class="red-piece black-first row"></div>
</div>
