<div id="board">
  <div class="p2-start even row"></div>
  <div class="p2-start odd row"></div>
  <div class="p2-start even row"></div>
  <div class="odd row"></div>
  <div class="even row"></div>
  <div class="p1-start odd row"></div>
  <div class="p1-start even row"></div>
  <div class="p1-start odd row"></div>
</div>
