$(document).ready(function(){
  renderBoard();
  renderPieces();
  $('.piece').on('click', choosePiece)
});

function renderBoard(){
  $(".even").html(renderRow("off"));
  $(".odd").html(renderRow("on"));
  $.makeArray($(".square")).forEach(function(square, index){
    $(square).attr('id', index)
  });
}

function renderSquare(color){
  return "<div class='" + color + " square'></div>"
}

function renderRow(firstColor){
  var row = "";
  if(firstColor === "off"){
    for(var i=0; i<4; i++){
      row = row + renderSquare("off") + renderSquare("on");
    }
  } else if(firstColor === "on"){
    for(var i=0; i<4; i++){
      row = row + renderSquare("on") + renderSquare("off");
    }
  }
  return row;
}

function renderPieces(){
  $('.p2-start > .on').append('<%= image_tag "burger", class:"p2 piece"%>')
  $('.p1-start > .on').append('<%= image_tag "yellow-burger", class:"p1 piece"%>')
}

function choosePiece(){
  $('.on').on('click', movePiece)
}

function movePiece(){
  var square = this;
  var piece = $(this).html();
  $('.on').on('click', function(){
    $(square).html('');
    $(this).html(piece);
  });
}

// function toggleSquare(){
//
// }
