$(document).ready(function(){
  renderBoard();
  setPositions();
  createSquares();
  renderPieces();
  movePieceListener();
});

function createSquares(){
  $.makeArray($('.square')).forEach(function(square){
    new Square($(square).attr('position').split(',').map(Number))
  })
}

function renderBoard(){
  $(".even").html(renderRow("off"));
  $(".odd").html(renderRow("on"));
}

function renderRow(firstColor){
  var row = "";
  if(firstColor === "off"){
    for(var i=0; i<4; i++){
      row = row + renderSquare("off") + renderSquare("on");
    }
  } else if(firstColor === "on"){
    for(var i=0; i<4; i++){
      row = row + renderSquare("on") + renderSquare("off");
    }
  }
  return row;
}

function renderSquare(color){
  return "<div class='" + color + " square'></div>"
}

function setPositions(){
  $.makeArray($(".row")).forEach(function(row, y){
    $.makeArray($(".row[id='" + y + "'] > .square")).forEach(function(square, x){
      $(square).attr('position', x + "," + y);
    });
  });
}

function renderPieces(){
  $('.p2-start > .on').append('<%= image_tag "burger", class:"p2 piece"%>')
  $('.p1-start > .on').append('<%= image_tag "yellow-burger", class:"p1 piece"%>')
}

function movePieceListener(){
  $('.piece').on('click', function(e){
    e.stopPropagation();
    $('.piece').off();
    if ($(".selected").length == 0){
    var piece = this;
      $(this).parent().toggleClass("selected");
    }
    $('.on').on('click', function(e){
      if ($(this).html() === ""){
        // e.stopPropagation();
        $(this).html(piece);
        $('.selected').html('');
        $('.on').off()
        movePieceListener()
      }
      $('.selected').toggleClass('selected');
      piece = ''
    });
  });
}

function getPosition(square){
  return square.attr('position').split(',').map(Number);
}
