* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.square {
  width: 100px;
  height: 100px;
  position: relative;
  float: left;
}

.row {
  clear: both;
  min-width: 800px;
}

.off {
  background-color: #41a7b9;
}

.on {
  background-color: #555;
}

img {
  margin: 5px;
  position: absolute;
  z-index: 1;
}

.highlighted {
  border: 4px red solid;
}
