// /* iPhone 5 Portrait */
// @media only screen
//   and (min-device-width: 320px)
//   and (max-device-width: 568px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: portrait) {
// }
//
// /* iPhone 6 Portrait */
// @media only screen
//   and (min-device-width: 375px)
//   and (max-device-width: 667px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: portrait) {
//
// }
//
// /* iPad 3&4 Portrait */
// @media only screen
//   and (min-device-width: 768px)
//   and (max-device-width: 1024px)
//   and (orientation: portrait)
//   and (-webkit-min-device-pixel-ratio: 2) {
//
// }

@media screen and (max-width: 1675px){
  .board-div{
    margin: 0;
    width: 100%;
    padding: 0;
  }

  #poop {
    width: 100%;
    background-color: black;
    display: block;
    margin: auto;
  }

  #page .info-panel {
    display: block;
    margin: 20px auto;
    position: relative;
    height: 20%;
    width: 100%;
    padding: 5%;
    background-color: #F6F7BD;
    text-align: center;
  }
  // #page .turn-marker {
  //   float: left;
  //   width: 33%;
  // }

  #page .p1-panel, .p2-panel, .turn {
    float: left;
    width: 33%;
    // margin: 2%;
  }

  // #page .info {
  //   // padding: 2%;
  //   margin-bottom: 5%;
  // }
}

@media screen and (min-width: 1676px){
  #poop {
    float: left;
  }
}

#page{
  width: 100%;
  // height: 100%;
  margin: 10% auto;
  z-index: 100;
}

#board {
  width: 100%;
  border: 5px solid #564939;
  float: left;
  position: relative;
}

#poop{
  width: 70%;
}
.grad {
 background: -webkit-radial-gradient(circle, #FF9D89, #e84427); /* Safari */
 background: -o-radial-gradient(circle, #FF9D89, #e84427); /* Opera 11.6 to 12.0 */
 background: -moz-radial-gradient(circle, #FF9D89, #e84427); /* Firefox 3.6 to 15 */
 background: radial-gradient(circle, #FF9D89, #e84427); /* Standard syntax */
}

.board-div{
  margin: auto;
  width: 80%;
  // padding: 0 30px;
}

.square {
  width: 12.5%;
  // height: 12%;
  position: relative;
  float: left;
  padding: 6% 0;
}

.board-row {
  clear: both;
  min-width: 640px;
}

.off {
  background-color: #80BCA3;
}

.on {
  background-color: #655643;
}

.piece {
  // height: 90%;
  width: 87%;
  // padding: -6% 0;
  margin-top: -45%;
  margin-bottom: -45%;
  margin-left: 5%;
  position: absolute;
  z-index: 1;
}

.highlighted {
  border: 4px #FC1104 solid;
  padding: 5.25%;
}

.highlighted > .piece {
  // height: 71px;
  // width: 71px;
  left: -1px;
}

// .p2-start .highlighted  > .piece {
//   top: -2px;
//   right: -2px;
// }
//
// .p1-start .highlighted  > .piece {
//   bottom: -2px;
//   left: -2px;
// }


.selected {
  background-color: #564939;

}

.turn-marker {
  color: black;
  background-color: #FF9D89;
}

.p1-panel, .p2-panel, .turn {
  text-align: center;
  padding: 10%;
}

.info-panel {
  float: right;
  position: relative;
  height: 100%;
  width: 25%;
  // padding: 0 20px 0 20px;
  background-color: #F6F7BD;
  // margin-left: 10px;
  text-align: center;
  margin-top: 72px;
  // margin-bottom: auto;
}


.notification{
  margin-top: 10px;
  height: 50px;
  width: 100%;
  text-align: center;
  float: left;
  z-index: 100;
}
//
// #login-success {
//     width: 40%;
//     text-align: center;
//     margin: auto;
//     left: 20%;
//     top: 0px;
//     height: 50px;
//     position: absolute;
//     // z-index: -1;
// }
