<!--Profile-->
<section class="page-block" id="features">
  <div class="container">
    <div class="row page-header">
      <h2>Profile</h2>
      <span>Subtext for header</span>
    </div>
    <div class="row features">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="feature-img">
          <%= image_tag 'features/feature1.png', width: '124', height: '120', class: 'feature-img'%>
          <!-- <img src="img/features/feature1.png" width="124" height="120" alt="Editable colors"/> -->
        </div>
        <h3>Editable colors</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="feature-img">
          <%= image_tag 'features/feature2.png', width: '131', height: '131', class: 'feature-img'%>
          <!-- <img src="img/features/feature2.png" width="131" height="131" alt="All you need for start"/> -->
        </div>
        <h3>All you need for start</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="feature-img">
          <%= image_tag 'features/feature3.png', width: '72', height: '72', class: 'feature-img'%>
          <!-- <img src="img/features/feature3.png" width="72" height="72" alt="Clean code"/> -->
        </div>
        <h3>Clean code</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo.</p>
      </div>
    </div>
  </div>
